<phpunit
        bootstrap="./src/test/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="StaticusCore">
            <directory>./src/test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>